@import '../../styles/variables.scss';

.MessageContainer {
  flex: 90%;
  .header {
    width: 100%;
    background-color: $msg-background;
    color: $white;
    padding: 10px 20px;
    font-size: 1.5rem;
  }
}